@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
.imagem{
    height: 500px;
    margin: auto;
    border: 3px solid black;
    background-image: url('imagens/maconha.jpg');
    background-size: cover;
    background-attachment: fixed;
}
